@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
}

body {
	font-family: 'Red Hat Text', sans-serif;
}

main {
	background-image: url('./assets/images/bg-stars.svg');
}

.counter-card {
	box-shadow: 0px 4px 0px 0px hsl(234, 17%, 12%);
}

.counter-card::before,
.counter-card::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 8px;
	width: 8px;
	background: hsl(234, 17%, 12%);
	border-radius: 50%;
	content: '';
	z-index: 20;
}

.counter-card::before {
	left: -4px;
}

.counter-card::after {
	right: -4px;
}

.card-top,
.card-bottom {
	perspective: 800px;
}

.card-top {
	transform-origin: bottom;
	opacity: 0;
}

.card-bottom {
	transform: rotateX(-180deg);
	transform-origin: top;
	opacity: 0;
}

.animated-top {
	animation: fold-hide 1s linear;
}
.animated-bottom {
	animation: fold-show 1s linear;
}

.bottom-pattern {
	background-image: url('./assets/images/pattern-hills.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a svg path {
	transition: fill 0.3s;
}

a:hover svg path,
a:focus svg path {
	fill: hsl(237, 28%, 70%);
}

@keyframes fold-hide {
	5% {
		background-color: hsl(233, 19%, 19%);
		opacity: 1;
	}

	30% {
		background-color: hsl(233, 19%, 19%);
		opacity: 1;
	}

	50% {
		background-color: hsl(233, 19%, 19%);
		transform: rotateX(90deg);
		opacity: 1;
	}

	55% {
		background-color: hsl(233, 19%, 19%);
		transform: rotateX(90deg);
		opacity: 0;
	}

	100% {
		transform: rotateX(90deg);
		opacity: 0;
	}
}

@keyframes fold-show {
	0% {
		background-color: hsl(233, 19%, 19%);
		opacity: 0;
		transform: rotateX(-180deg);
	}

	49% {
		background-color: hsl(233, 19%, 19%);
		opacity: 0;
	}

	50% {
		background-color: hsl(233, 19%, 19%);
		transform: rotateX(-90deg);
		opacity: 1;
	}

	75% {
		background-color: hsl(233, 19%, 19%);
		transform: rotateX(-45deg);
		opacity: 1;
	}

	100% {
		transform: rotateX(0);
		opacity: 1;
	}
}

@media (min-width: 768px) {
	.counter-card {
		box-shadow: 0px 8px 0px 0px hsl(234, 17%, 12%);
	}

	.counter-card::before,
	.counter-card::after {
		height: 12px;
		width: 12px;
	}

	.counter-card::before {
		left: -6px;
	}

	.counter-card::after {
		right: -6px;
	}
}

@media (min-width: 1280px) {
	.counter-card::before,
	.counter-card::after {
		height: 20px;
		width: 20px;
	}

	.counter-card::before {
		left: -10px;
	}

	.counter-card::after {
		right: -10px;
	}
}

.card-top,
.card-bottom {
	animation-iteration-count: infinite;
}

.card-top::after,
.card-bottom::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	animation: reset-animation 1ms infinite;
}

@keyframes reset-animation {
	from {
		transform: translateZ(0);
	}
	to {
		transform: translateZ(0);
	}
}

/* Nadaj zdarzenie animationiteration */
.card-top::after,
.card-bottom::after {
	animation-delay: 1s; /* Opóźnienie na początku */
	animation-duration: 1ms; /* Bardzo krótka animacja */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: reset-animation;
}

/* Resetowanie zdarzenia animationiteration po 1ms, aby mogło działać za każdym razem */
.card-top::after,
.card-bottom::after {
	animation-delay: 1ms;
}
